.header {
  width: 100%;
  min-height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(103, 187, 90, 1);
  gap: 5vw;
}

.header__nav {
  display: flex;
  align-items: space-between;
  justify-content: center;
  gap: 2.78vw;
}

.header__nav__logo {
  width: 151px;
  height: 39px;
}

.header__nav__search {
  width: 36vw;
}
