:where(.container) {
  position: relative;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

:where(.input) {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(181, 195, 201, 1);
  font-size: 20px;
  font-weight: 500;
  color: rgba(181, 195, 201, 1);
  padding: 15px 0 15px 1.38vw;
}

.label {
  font-size: 20px;
  font-weight: 400;
  color: rgba(28, 31, 29, 1);
}

.svg {
  position: absolute;
  top: 50%;
  right: 1.38vw;
  transform: translateY(-50%);
}

:where(.text__error) {
  font-size: 12px;
  font-weight: 400;
  color: rgba(253, 59, 59, 1);
}

.svg__eye {
  vertical-align: middle;
}

.error__input {
  border: 1px solid rgba(253, 59, 59, 1);
  box-shadow: 0px 1px 2px 0px rgba(253, 59, 59, 0.8);
}

.valid__input {
  border: 1px solid rgba(103, 187, 90, 1);
  box-shadow: 0px 1px 2px 0px rgba(103, 187, 90, 0.8);
}
