.icon {
  padding: 0;
  border: none;
  display: inline-flex;
  cursor: pointer;
  background-color: transparent;
}

.icon:focus {
  outline: none;
}

.icon:focus-visible {
  outline: 3px solid #67bb5a;
  outline-offset: 2px;
}

.icon:disabled {
  cursor: not-allowed;
}
