.sectionCards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: transparent;
}

.sectionCards__heading {
  font-size: 36px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.sectionCards__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.8vw;
  row-gap: 3.47vw;
  justify-content: space-between;
}

.sectionCards__cards:nth-child(odd) {
  justify-self: start;
}

.sectionCards__cards:nth-child(even) {
  justify-self: end;
}

.sectionCards__button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 38px;
  border-radius: 10px;
}

.directorySectionItemPage__button {
  width: fit-content;
  align-self: center;
  background-color: transparent;
  color: rgba(103, 187, 90, 1);
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(103, 187, 90, 1);
  border-bottom: 1px solid rgba(103, 187, 90, 1);
  padding: 20px 8.89vw;
  transition: background-color 0.4s ease-in-out;
}

.directorySectionItemPage__button:hover:not(:disabled) {
  background-color: rgba(219, 239, 208, 1);
}
