.homePage {
  background-color: rgba(249, 249, 249, 1);
  padding: 50px 5.48vw 152px 5.48vw;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.homePage__text {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.homePage__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1000;
  font-size: 36px;
  background-color: rgba(173, 223, 172, 1);
  position: absolute;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-weight: bold;
}
