.radioGroup__input {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 1;
}

.className__container {
  width: 27px;
  height: 27px;
}

.className__svg {
  width: 27px;
  height: 27px;
}
